@using FinalProject_Team12.Controllers

@{
    ViewBag.Title = "DetailedSearch";
}

<h2>DetailedSearch</h2>

@using (Html.BeginForm("DisplaySearchResults", "Home", FormMethod.Get))
{
<p class="form-group">
    Search Repository Name: @Html.TextBox("SearchName", null, new { @class = "form-control"}) <br />

    Search Description: @Html.TextBox("Description", null, new { @class = "form-control"}) <br />

    Select a Language: @Html.DropDownList("SelectedLanguage",(SelectList)ViewBag.AllLanguages, new { @class = "form-control"})

    Number of Stars: @Html.TextBox("NumberofStars", null, new { @class = "form-control"})

    <div class="form-group">
        <label class="radio">@Html.RadioButton("SelectedStar", StarRank.GreaterThan, true)GreaterThan</label>
        <label class="radio">@Html.RadioButton("SelectedStar", StarRank.LessThan)LessThan</label>
    </div>

    <div class="form-group">
        Modified After: <input type="date" name="datSelectedDate" class="form-control"/>
            <br />
    </div>
    <input type="submit" value="Search" class="btn btn-default" />
</p>
}