@using FinalProject_Team12.Controllers

@{
    ViewBag.Title = "DetailedSearch";
}

<h2>DetailedSearch</h2>

@using (Html.BeginForm("DisplaySearchResults", "Home", FormMethod.Get))
{
<p class="form-group">
    Search Repository Name: @Html.TextBox("SearchName", null, new { @class = "form-control" }) <br />

    Search Tagline: @Html.TextBox("SearchTagline", null, new { @class = "form-control" }) <br />

    Select a Genre: @Html.DropDownList("SelectedGenre", (SelectList)ViewBag.AllGenres, new { @class = "form-control" })

    Search Release Year: @Html.TextBox("ReleaseYear", null, new { @class = "form-control" }) <br />

    Select MPAA Rating: @Html.TextBox("SelectedMPAARating", null, new { @class = "form-control" }) <br />

    Number of Stars: @Html.TextBox("NumberofStars", null, new { @class = "form-control" })

    Selected Star: @Html.TextBox("SelectedStar", null, new { @class = "form-control" })

    Search Customer Rating: @Html.TextBox("CustomerRating", null, new { @class = "form-control" })

    <div class="form-group">
        <label class="radio">@Html.RadioButton("SelectedStar", StarRating.GreaterThan, true)GreaterThan</label>
        <label class="radio">@Html.RadioButton("SelectedStar", StarRating.LessThan)LessThan</label>
    </div>

    <div class="form-group">
        Modified After: <input type="date" name="SelectedDate" class="form-control" />
        <br />
    </div>
    <input type="submit" value="Search" class="btn btn-default" />
</p>
}