@using FinalProject_Team12.Models
@model IEnumerable<FinalProject_Team12.Models.Movie>


@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    <p class="form-group">
        Search: @Html.TextBox("SearchString", null, new { @class = "form-control" }) <br />
        <input type="submit" value="Search" class="btn btn-default" />
        @Html.ActionLink("Detailed Search", "DetailedSearch", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-default" })
    </p>
}

<p>
    Displaying @ViewBag.SelectedMovies out of @ViewBag.TotalMovies Movies
</p>

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Screenings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MPAARating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RunningTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genres)
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Screenings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MPAARating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunningTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerRating)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Genres.GenreType)

                @foreach (Genre gen in Model.Genres)
                    {

                        @Html.DisplayFor(modelItem => gen.GenreType)

                    }
            </td>*@
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.MovieID })

            </td>
        </tr>
    }

</table>
